@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url("../../images/bg.png");
  background-size: cover; /* This will make the background cover the entire area */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the background image */
}
.eposter-bg {
  background-image: url("../../images/eposter-bg.png");
  background-size: cover; /* This will make the background cover the entire area */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the background image */
}
.slider-bg {
  background-image: url("../../images/Group_89.png");
  background-size: contain; /* This will make the background cover the entire area */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the background image */
}
.slider-bg2 {
  background-image: url("../../images/Group 65.png");
  background-size: contain; /* This will make the background cover the entire area */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the background image */
}
.popup-bg {
  background-image: url("../../images/popup-bg.png");
  background-size: cover; /* This will make the background cover the entire area */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the background image */
}
.display-webkit-box {
  display: -webkit-inline-box;
}
.background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease; /* Smooth transition */
}
.admin-bg {
  background-image: url("../../images/Admin panel_bg.png");
  background-size: cover; /* This will make the background cover the entire area */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the background image */
}
@media screen and (max-width: 320px) {
  .custom {
    flex-direction: column;
  }
}
